<header>
  <div class="navbar ">
    <ul class="nav navbar-default">
      <li class="home">{{#link-to 'index'}}Home{{/link-to}}</li>
      <li class="about">{{#link-to 'about'}}About{{/link-to}}</li>
      <li class="about">{{#link-to 'contact'}}contact{{/link-to}}</li>
    </ul>
  </div>
</header>
<div class="well">
  <p id="headerTitle">Questionare</p>
</div>
<div class="container">
  {{outlet}}
</div>
<footer>
  <div class="copyright">
    <p>© 2017 - Khalid Hashi</p>
  </div>
</footer>
